

body{
    background-color: wheat;
}
strong{
    font-size: 60px;
}
h1{
    background-color: thistle;
    text-align: center;
    color: red;
    text-transform: capitalize;
    font-size: 60px;
}
p{
    width: auto;
    background-color: royalblue;
    text-transform: capitalize;
    border: 8px solid red;
    border-radius: 12px;
    font-size: 22px;
    color: white;
    text-align: justify;
    margin: 20px 30px 20px 40px;
    padding: 20px;
}
.anas{
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
    color: white;
    background-color: blue;
    width: 70%;
    height: 30%;
    border:6px solid blueviolet;
}
div{
    margin: 30px;
    display: inline-block;
}
#a{
    background-color: yellowgreen;
    font-size: 23px;
    text-align:justify;
     
}